/* Overall styles */
html{
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

/* attributes */
h1{
    font-size: 50px;
    color: white;
    font-weight: normal;
    text-align: center;
}

h2{
    color: white;
    font-weight: 300;
    font-size: 42px;
}

p{
    font-size: 25ox;
    color: grey;
}

footer{
    text-align: right;
}

a:visited, a:active{
    color: aquamarine;
    font-size: 16px;
}